{% extends 'base.html' %}
{% load markdownify %}


{% block content %}
  <main>
  <div>
    <a href="{% url 'meal_plans_edit' mealplan.id %}">Edit</a>
    <a href="{% url 'meal_plans_delete' mealplan.id %}">Delete</a>
  </div>
  <h2>Recipes for {{ mealplan.name }} Created on {{ mealplan.date }}</h2>
  {% for recipe in mealplan.recipes.all %}
  <p>
  <a href= "{% url "recipe_detail" recipe.pk %}">
    {{recipe.name}}
    
  </a>
  </p>
  </div>
{% endfor %}
</main>
{% endblock content %}
